body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    /* styles.css */


    .filters {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .doctorSchedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    }

    .doctorInfo {
        width: 20%; /* Чтобы каждый блок занимал 30% ширины */
        border: 1px solid #ccc;
        padding: 10px;
        margin-left: 2%;
        margin-right: 1%;
        margin-bottom: 20px;
    }

    .scheduleEntry {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 5px;
    }

    .editBtn, .deleteBtn {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 2%;
    }

    .addBtn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin: 0 auto;
        margin-top: 2%;
    }