<!-- системный администратор добавляет врачей и администраторов в систему -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>

    <div class="add-container">
        <input type="text" class="dataInput" id="nameAdd" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameAdd" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameAdd" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailAdd" placeholder="Email">
        <input type="text" class="dataInput" id="passportAdd" placeholder="Серия и номер пасспорта">
        <input type="text" class="dataInput" id="passwordAdd" placeholder="Пароль">
        <input type="text" class="dataInput" id="phoneAdd" placeholder="Телефон">
        <button id="addButton">Добавить</button>
    </div>

    <div class="edit-container">
        <input type="text" class="dataInput" id="nameEdit" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameEdit" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameEdit" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailEdit" placeholder="Email">
        <input type="text" class="dataInput" id="passportEdit" placeholder="Серия и номер пасспорта">
        <input type="text" class="dataInput" id="passwordEdit" placeholder="Пароль">
        <input type="text" class="dataInput" id="phoneEdit" placeholder="Телефон">
        <button id="editButton">Изменить</button>
    </div>

    <div class="filter-container">
        <input type="text" class="dataInput" id="idSearch" placeholder="ID">
        <input type="text" class="dataInput" id="nameSearch" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameSearch" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameSearch" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailSearch" placeholder="Email">
        <input type="text" class="dataInput" id="passportSearch" placeholder="Серия и номер пасспорта">
        <input type="text" class="dataInput" id="phoneSearch" placeholder="Телефон">
        <button id="searchButton">Поиск</button>
    </div>



    <div class="client-list" id="clientListContainer">
        <div id="clientTableContainer">
            <table class="client-table" id="clientTable">
                <thead>
                    <tr>
                        <th>Passport</th>
                        <th>Email</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Отчество</th>
                        <th>Телефон</th>
                        <th>>Питомцы</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <script>
    </script>
</body>
</html>