<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Просмотр записей на прием</title>
    <link rel="stylesheet" href="/styles/css/bookings.css">
    <link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/clients">Управлять клиентами</a></li>
                <li><a href="/doctor_schedule">Управлять расписанием врачей</a></li>
                <li><a href="/confirmed_bookings">Подтвержденные записи</a></li>
                <li><a href="/unconfirmed_bookings">Неподтвержденные записи</a></li>
                <li><a href="/make_appointment">Записть клиента</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>

    <div class="filter-container">
        <!-- Фильтры по дате и времени -->
        <label for="date-filter">Фильтр по дате:</label>
        <input type="date" id="date-filter">
        <button onclick="applyFilters()">Применить фильтр</button>
    </div>

    <div class="appointments">

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/unconfirmed_bookings.js">
        
    </script>
</body>

</html>