body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}
#page-container{
    margin: 1%;
}

input[type="text"] {
    padding: 5px;
}

select, input[type="date"], input[type="time"] {
    padding: 5px;
    margin: 5px;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}