<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/css/bookings.css">
    <link rel="stylesheet" href="/styles/css/basic_nav.css">
    <link rel="stylesheet" href="/styles/css/make_appointment.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/clients/<%= client._id %>/main">Животные</a></li>
                <li><a href="/clients/<%= client._id %>/appointments">Записи</a></li>
                <li><a href="/clients/<%= client._id %>/make_booking">Записать животное</a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="filter-container">
        <label for="date-filter">Фильтр по дате:</label>
        <input type="date" id="date-filter">
        <input type="hidden" id="client-id" value="<%= client._id %>">
    </div>
    <div class="appointments">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/scripts/bookings.js"></script>
</body>
</html>