<!-- на этой странице отображаются все животные. Их записи и ссылки на мед книжки -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/basic_list.css">
    <link rel="stylesheet" href="../../static/css/basic_form.css">
    <link rel="stylesheet" href="../../static/css/basic_nav.css">
    <link rel="stylesheet" href="../../static/css/list.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="main.html">Животные</a></li>
                <li><a href="bookings.html">Записи</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>
    <ul class="info">
        <li>ID</li>
        <li>Имя</li>
        <li>Фамилия</li>
        <li>Отчество</li>
        <li>Пасспорт</li>
        <li>Телефон</li>
        <li>Email</li>
    </ul>
   
    <div style="text-align: center;" class="pet-list" id="petListContainer">
        <h1>Ваши животные</h1>
        <div id="petTableContainer">
            <table class="pet-table" id="petTable">

            </table>
        </div>
    </div>
    <script>


    const pets = [
        {id: 1, name: 'Кот', passport: '123456789', nickname: 'Мурзик', age: '5 лет', weight: '4 кг', breed: 'Шотландская вислоухая', icon: 'cat-icon.png'},
        {id: 2, name: 'Собака', passport: '987654321', nickname: 'Рекс', age: '3 года', weight: '10 кг', breed: 'Лабрадор', icon: 'dog-icon.png'},
        {id: 3, name: 'Хомяк', passport: '555555555', nickname: 'Буся', age: '1 год', weight: '0.2 кг', breed: 'Джунгарский хомяк', icon: 'hamster-icon.png'},
        {id: 4, name: 'Попугай', passport: '777777777', nickname: 'Кеша', age: '2 года', weight: '0.5 кг', breed: 'Ара', icon: 'parrot-icon.png'}
    ];
        function renderPetList() {
            const table = document.getElementById('petTable');
            table.innerHTML = `
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="15%">Название</th>
                        <th width="15%">Порода</th>
                        <th width="15%">Кличка</th>
                        <th width="15%">Пасспорт животного</th>
                        <th width="10%">Возраст</th>
                        <th width="10%">Вес</th>
                        <th width="10%">Карточка животного</th>
                    </tr>
                </thead>
                <tbody>
                    ${pets.map(pet => `
                        <tr>
                            <td width="10%">${pet.id}</td>
                            <td width="15%">${pet.name}</td>
                            <td width="15%">${pet.breed}</td>
                            <td width="15%">${pet.nickname}</td>
                            <td width="15%">${pet.passport}</td>
                            <td width="10%">${pet.age}</td>
                            <td width="10%">${pet.weight}</td>
                            <td width="10%"><a href='./animal_card.html'>Больше</a></td>
                        </tr>`).join('')}
                </tbody>
            `;
        }

        renderPetList();
    </script>
</body>
</html>