<!-- системный администратор добавляет врачей и администраторов в систему -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="../../static/css/basic_list.css">
<link rel="stylesheet" href="../../static/css/basic_form.css">
<link rel="stylesheet" href="../../static/css/basic_nav.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="employees.html">Управлять персоналом</a></li>
                <li><a href="services.html">Управлять услугами</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>

    <div class="add-container">
        <input type="text" class="dataInput" id="nameAdd" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameAdd" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameAdd" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailAdd" placeholder="Email">
        <input type="text" class="dataInput" id="passwordAdd" placeholder="Пароль">
        <input type="text" class="dataInput" id="phoneAdd" placeholder="Телефон">
        <button id="addButton">Добавить</button>
    </div>

    <div class="edit-container">
        <input type="text" class="dataInput" id="nameEdit" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameEdit" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameEdit" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailEdit" placeholder="Email">
        <input type="text" class="dataInput" id="passwordEdit" placeholder="Пароль">
        <input type="text" class="dataInput" id="phoneEdit" placeholder="Телефон">
        <button id="editButton">Изменить</button>
    </div>

    <div class="filter-container">
        <input type="text" class="dataInput" id="idSearch" placeholder="ID">
        <input type="text" class="dataInput" id="nameSearch" placeholder="Имя">
        <input type="text" class="dataInput" id="surnameSearch" placeholder="Фамилия">
        <input type="text" class="dataInput" id="fatherNameSearch" placeholder="Отчество">
        <input type="text" class="dataInput" id="emailSearch" placeholder="Email">
        <input type="text" class="dataInput" id="phoneSearch" placeholder="Телефон">
        <button id="searchButton">Поиск</button>
    </div>

    <div class="remove-container">
        <input type="text" class="dataInput" id="idDelete" placeholder="ID">
        <button id="removeButton">Удалить</button>
    </div>



    <div class="employee-list" id="employeeListContainer">
        <div id="employeeTableContainer">
            <table class="employee-table" id="employeeTable">
            </table>
        </div>
    </div>
    <script>

        // Данные о сотрудниках для временного отображения
        const employeesData = [
            { firstName: 'Иван', lastName: 'Петров', email: 'ivan@example.com', phone: '123456789', id: 1 },
            { firstName: 'Мария', lastName: 'Сидорова', email: 'maria@example.com', phone: '987654321', id: 2 },
            { firstName: 'Иван', lastName: 'Петров', email: 'ivan@example.com', phone: '123456789', id: 1 },
            { firstName: 'Мария', lastName: 'Сидорова', email: 'maria@example.com', phone: '987654321', id: 2 },
            { firstName: 'Иван', lastName: 'Петров', email: 'ivan@example.com', phone: '123456789', id: 1 },
            { firstName: 'Мария', lastName: 'Сидорова', email: 'maria@example.com', phone: '987654321', id: 2 }
        ];

        // Вывод списка сотрудников
        function renderEmployeeList() {
            const table = document.getElementById('employeeTable');
            table.innerHTML = `
                <thead>
                    <tr>
                        <th width="15%">ID</th>
                        <th width="20%">Email</th>
                        <th width="15%">Имя</th>
                        <th width="15%">Фамилия</th>
                        <th width="15%">Телефон</th>
                    </tr>
                </thead>
                <tbody>
                    ${employeesData.map(employee => `
                        <tr>
                            <td width="8%">${employee.id}</td>
                            <td width="10%">${employee.email}</td>
                            <td>${employee.firstName}</td>
                            <td>${employee.lastName}</td>
                            <td>${employee.phone}</td>
                        </tr>`).join('')}
                </tbody>
            `;
        }

        renderEmployeeList();
    </script>
</body>
</html>