<!-- системный администратор добавляет врачей и администраторов в систему -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Добавление сотрудника</title>
<link rel="stylesheet" href="/styles/css/basic_list.css">
<link rel="stylesheet" href="/styles/css/basic_form.css">
<link rel="stylesheet" href="/styles/css/basic_nav.css">
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="/workers">Управлять персоналом</a></li>
                <li><a href="/services">Управлять услугами</a></li>
                <li><a href="#">Выход</a></li>
            </ul>
        </nav>
    </header>

    <div class="add-container">
        <input type="text" class="dataInput" id="titleAdd" placeholder="Название">
        <input type="text" class="dataInput" id="priceAdd" placeholder="Стоимость">
        <button id="addButton">Добавить</button>
    </div>

    <div class="edit-container">
        <input type="text" class="dataInput" id="titleEdit" placeholder="Название">
        <input type="text" class="dataInput" id="priceEdit" placeholder="Стоимость">
        <button id="editButton">Изменить</button>
    </div>

    <div class="filter-container">
        <input type="text" class="dataInput" id="idSearch" placeholder="ID">
        <input type="text" class="dataInput" id="titleSearch" placeholder="Название">
        <input type="text" class="dataInput" id="priceSearch" placeholder="Стоимость">
        <button id="searchButton">Поиск</button>
    </div>

    <div class="remove-container">
        <input type="text" class="dataInput" id="idDelete" placeholder="ID">
        <button id="removeButton">Удалить</button>
    </div>



    <div class="service-list" id="serviceListContainer">
        <div id="serviceTableContainer">
            <table class="service-table" id="serviceTable">
            </table>
        </div>
    </div>
    <script>

        // Данные о сотрудниках для временного отображения
        const serviceData = [
            { id: 1, title: 'Анализы', price: 2000},
            { id: 2, title: 'Прическа', price: 3000},
            { id: 3, title: 'Мытье', price: 4000},
            { id: 4, title: 'Укол', price: 5000},
            { id: 5, title: 'Осмотр', price: 6000},
            { id: 6, title: 'Стрижка', price: 7000}
        ];

        // Вывод списка сотрудников
        function renderServiceList() {
            const table = document.getElementById('serviceTable');
            table.innerHTML = `
                <thead>
                    <tr>
                        <th width="20%">ID</th>
                        <th width="40%">Название</th>
                        <th width="40%">Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    ${serviceData.map(service => `
                        <tr>
                            <td width="20%">${service.id}</td>
                            <td width="40%">${service.title}</td>
                            <td width="40%">${service.price}</td>
                        </tr>`).join('')}
                </tbody>
            `;
        }

        renderServiceList();
    </script>
</body>
</html>